body {
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
#banner {
    width: 100%;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
.principal{
    background-color: #c0c0c0;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
h1 {
    text-align: center;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
p {
    text-align: center;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
#missao {
    font-size: 20px;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
em strong {
    color: #9c0909;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
.itens{
    font-style: italic;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
.beneficios{
    background: #ffffff;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
h2 {
    text-align: center;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/



